.backgroundImg {
    position: relative;
}

.agentText {
    color: white;
    margin-top: 0px;
    text-align: center;
    font-size: 50px;
    /* margin-top: 200px; */
}

.auctionColor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}

.aboutAgent {
    color: gray;
    align-items: center;
    text-align: center;
}

.agentBtn {
    display: flex;
    margin-top: 70px;
    margin-left: 380px;
}

.agentbtn {
    background-color: black;
    border: 1px solid cyan;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid cyan;
    cursor: pointer;
    transition: background-color 2.5s ease;
}

.agentBtn button:hover {
    background-color: cyan;
    color: black
}

.explore {
    margin-left: 30px;
}

.agentdata {
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 300px;
    padding: 10px 0px;
    margin-top: 200px;
    padding: 50px;
    border-radius: 20px;
    border: 2px dotted cyan;
}

.agentdata:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, cyan 0px 12px 13px, cyan 0px -3px 5px;
}

span {
    background: cyan;
    height: 100%;
    width: 0;
    border-radius: 20px;
}

.agentBtn {
    display: flex;
}