.cross {
    font-size: 50px;
    margin-top: 400px;
    margin-left: 870px;
    cursor: pointer;
}

.formMainDiv {
    background-color: #dfe7ee;
    width: 800px;
    padding-bottom: 30px;
    padding-right: 120px;
    margin: auto;
}

.chitData {
    text-decoration: none;
}

.addBtn {
    margin-top: 900px;
    color: rgb(169, 167, 167);
    border: 2px solid rgb(205, 227, 246);
    padding: 5px 25px 5px 25px;
    margin-left: 80px;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.navPage {
    z-index: 1;
}

.chitiDataDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 1500px;
    margin-top: 100px;
    margin-left: 100px;
}

.chitDataCard {
    position: relative;
    width: 300px;
    overflow: hidden;
    padding: 70px;
    transition: background-color 3.4s ease;
    cursor: pointer;
    /* background-color: #C5FFF8; */
    background-color: #dfe7ee;
    z-index: 0;
    border-radius: 30px;
}

.chitDataCard::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: var(--secondary-color);
    transition: width 1.3s ease, height 1.3s ease;
    z-index: -1;
    border-radius: 30px;
}

.chitDataCard:hover::before,
.chitDataCard:focus-within::before {
    width: 100%;
    height: 100%;
}

.chitDataCard:hover button.cardBtn,
.chitDataCard:focus-within button.cardBtn {
    opacity: 1;
}

.cardBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding-left: 20px;
    padding-right: 20px;
}

.chitDataCard:focus-within button.cardBtn {
    opacity: 1;
}

.chitDataCard:hover,
.chitDataCard:focus-within {
    color: white;
}

.dataHeading {
    text-align: center;
    margin-top: -40px;
    margin-bottom: 30px;
    font-weight: bold;
}

.chitiData {
    margin-top: 10px;
    font-size: 20px;
}

.chitData {
    margin-top: 20px;
    font-size: 20px;
}

.chitDataMainDiv {
    display: flex;
}

.cardData {
    background: none;
    font-size: 23px;
}

input::placeholder {
    color: black;
}

.agentTags {
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    background: none;
    padding: 50px;
    margin-top: 30px;
}

.agnetInputs {
    text-align: center;
    align-items: center;
    display: flex;
}


/* input tags */

.inputDiv {
    position: relative;
    margin-bottom: 20px;
}

.agentTags {
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 3px solid #ccc;
    transition: border 0.3s ease;
    outline: none;
    width: 500px;
    font-weight: bold;
}

.agentTags::placeholder {
    color: var(--secondary-color);
    font-size: 15px;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}

.agentTags:focus,
.agentTags:hover,
.agentTags:active {
    border-bottom: 3px solid var(--secondary-color);
}

.agentTags:focus::placeholder,
.agentTags:hover::placeholder,
.agentTags:active::placeholder {
    transform: translateY(-10px);
    font-size: 12px;
}

.pageSubmitbtn {
    margin-left: -1px;
    margin-left: 1px;
    padding-left: 235px;
    padding-right: 235px;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--secondary-color);
    color: white;
    justify-content: center;
    font-weight: bold;
}

.chitiDataBanner {
    position: relative;
    z-index: 0;
}

.formMainDiv {
    position: relative;
}

.chitiDataBanner {
    position: relative;
    background-image: url("https://assets.kpmg.com/is/image/kpmg/ch-blog-global-banking-mna-perspectives-for-2022-header-1400x328:cq5dam.web.2000.500");
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-position: center;
    color: white;
}

.formData {
    margin-top: -200px;
}

.agentInvest {
    margin-top: 150px;
    margin-bottom: 150px;
}