.footerLine {
    width: 3px;
    height: 25px;
    background-color: white;
    margin-top: 20px;
    /* margin-right: 10px; */
}

.footerText {
    display: flex;
}

.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 50px;
}

.footerAuction {
    margin-left: 450px;
}

.footerDouble {
    margin-left: 250px;
}

.footerPara {
    margin-top: 20px;
}

.footerHeading {
    margin-left: 5px;
    margin-top: 20px;
}

.footerImg {
    width: 60px;
    margin-right: 5px;
}

.instaImg {
    width: 30px;
    margin-top: 13px;
    margin-right: 20px;
}

.imagesFooter {
    display: flex;
    margin-left: 810px;
    margin-top: 20px;
}